body {
  overflow-x: hidden;
}
* {
  font-family: "Benne", serif;
}

header {
  height: 132px;
  position: relative;
  background-color: #ff2a2acf;
  width: 100%;
}

header div {
  position: relative;
  font-family: "Benne", serif;
  color: #eee;
}

h1::first-letter {
  padding: 5px;
  font-weight: normal;
  font-size: 219%;
}

h1 {
  font-size: 200%;
  top: 5px;
  left: -1px;
  position: absolute;
}

.header-2_1 {
  top: 4px;
  left: 58px;
}

h2 {
  font-size: 150%;
  top: 57px;
  position: absolute;
}
h3:hover {
  overflow-y: scroll;
}

h3 {
  font-size: 131%;
  top: 87px;
  width: 80%;
  position: absolute;
}
.sticky_please {
  position: sticky;
  bottom: 0;
  z-index: 1;
}
nav {
  position: relative;
  bottom: -132px;
  background-color: #d33a2c;
  width: 100%;
}
nav ul {
  left: 224px;
  text-transform: capitalize;
  height: 40px;
  width: 65%;
  position: relative;
  list-style: none;
  top: 0;
}

.fisrt {
  left: 0px;
  margin: 0 83.3px 0;
}
.fisrt2 {
  left: 260.3px;
  margin: 0 83.3px 0;
}
.fisrt3 {
  left: 565px;
  margin: 0 83.3px 0;
}
nav li {
  position: absolute;
  top: 11px;
}
.nav_a:hover {
  color: #ffe7e7;
  background-color: #d33a2c;
  border-radius: 5px;
  border: 2px solid #ffe7e7;
}
.nav_a {
  border: 1px solid #d33a2c;
  background-color: #ffe7e7;
  text-decoration: none;
  color: #d33a2c;
  border-radius: 5px;
}
p {
  /* padding: 10px;
  margin: 6px -61px; */
  font-size: 125%;
  color: #7c0000;

  font-weight: bold;
}
main {
  top: 37px;
  height: 600px;
  position: relative;
  background-color: #ffe7e7;
}
ol {
  font-weight: bold;
  list-style: upper-roman;
}
ul {
  list-style-type: disc;

  font-weight: bold;
}

.lists {
  position: relative;
  color: #d33a2c;

  border-top: #d33a2c solid 2px;
  font-size: 1.25rem;
  text-transform: capitalize;
  background-color: #ffe7e7;
}
aside li {
  position: relative;
  left: 80px;
  margin: 15px;
}

footer {
  color: #d33a2c;
  font-weight: bolder;
}
footer p {
  position: relative;
  left: 50%;
}
h5 {
  font-size: 1.8rem;
}

.ans {
  position: relative;
  left: 120px;
  top: 63px;
}
.ans1,
.ans2,
.ans3,
.ans4,
.ans5,
.ans6,
.ans7 {
  color: #d33a2c;
  left: 30px;
  position: relative;
  background-color: #ffe7e7;
  top: 60px;
}

/* p.ans2 {
  top: 60px;
}
p.ans3 {
  top: 120px;
}
p.ans4 {
  top: 180px;
}
p.ans5 {
  top: 240px;
}
p.ans6 {
  top: 300px;
}
p.ans7 {
  top: 360px;
} */
/* 
#anes1 {
  left: 15px;
  top: 20px;
}
#anes2 {
  top: calc(20px * 4.5);
  left: 15px;
}
#anes3 {
  top: calc(20px * 3 * 2.25);
  left: 15px;
}
#anes4 {
  top: calc(20px * 4 * 2.25);
  left: 15px;
}

#anes5 {
  top: calc(20px * 5 * 4.5);
  left: 15px;
}
#anes6 {
  top: calc(20px * 6 * 4.5);
  left: 15px;
}
#anes7 {
  top: calc(20px * 7 * 4.5);
  left: 15px;
} */
